<%- layout("/layouts/boilerplate") -%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            
            <h3>Edit your listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">

                <div>
                    <label for="title" class="form-label"></label>
                    <input required class="form-control" type="text" name="listing[title]" value="<%=listing.title%>"">
                    <div class="valid-feedback">Looks Good!</div>
        </div>
       
        <div>
             <label for=" description" class="form-label"></label>
                    <textarea required class="form-control" type="text"
                        name="listing[description]"><%=listing.description%></textarea>
                        <div class="invalid-feedback">Please enter valid description</div>
                </div>

                <div>
                    <label for="image" class="form-label"></label>
                    <input required class="form-control" type="text" name="listing[image]" value="<%=listing.image%>">
                    <div class="invalid-feedback">Please enter valid image</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label "></label>
                        <input required class="form-control" type="number" name="listing[price]" value="<%=listing.price%>">
                        <div class="invalid-feedback">Please enter valid price</div>
                    </div>

                    <div class="col-md-8">
                        <label for="location" class="form-label"></label>
                        <input required class="form-control" type="text" name="listing[location]" value="<%=listing.location%>">
                        <div class="invalid-feedback">Please enter valid location</div>
                    </div>
                </div>


                <div>
                    <label for="country" class="form-label"></label>
                    <input required class="form-control" type="text" name="listing[country]" , value="<%=listing.country%>">
                    <div class="invalid-feedback">Please enter valid country</div>
                </div>

                <br>

                <button class="btn btn-dark add-btn">Edit</button>
            </form>
        </div>
    </div>

<!-- <script src="/js/script.js"></script> -->